@charset "UTF-8";

* {
	box-sizing: border-box;
}

.title {
	text-align: center;
}

.form-submit {
	padding: 20px;
	width: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-submit .form-submit__row {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.form-submit .form-submit__row input:not([type="radio"]) {
	width: 100%;
}
.submit_input{
	width: 100%;
	background-color: #3d5afe;
	padding: 10px;
	border: none;
}